body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e6f2ff;
}

header {
    background-color: #66b3ff;
    color: white;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav button {
    background-color: white;
    border: none;
    color: #0073e6;
    padding: 12px 25px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
}

nav button:hover {
    background-color: #add7ff;
    transform: scale(1.05);
}

.about {
    background-image: url('https://images.unsplash.com/photo-1610832958506-aa56368176cf?q=80&w=1170&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about h1 {
    font-size: 55px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px 25px;
    border-radius: 12px;
}

.about .tagline {
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 10px;
}

.products {
    background-image: url('https://images.unsplash.com/photo-1574226516831-e1dff420e12e');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products h2 {
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 25px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.products button {
    background-color: #0073e6;
    color: white;
    padding: 14px 28px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.products button:hover {
    background-color: #3399ff;
    transform: scale(1.05);
}

.product-box {
    background-color: #f0f8ff;
    margin: 30px 0;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product-box img {
    width: 350px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.product-details {
    max-width: 600px;
    text-align: left;
}

.product-details h2 {
    color: #0073e6;
}

.product-details p {
    margin: 5px 0;
    font-size: 16px;
}


.contact-box {
    background-color: #f0f8ff;
    margin: 40px auto;
    padding: 40px;
    border-radius: 10px;
    width: 70%;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.contact-box h2 {
    color: #0073e6;
    margin-bottom: 20px;
}

.contact-box p {
    font-size: 18px;
    margin: 8px 0;
}

.social-icons img {
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

footer {
    background-color: #66b3ff;
    color: white;
    margin-top: 125px;
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
}
